@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
/*font-family: 'Gravitas One', cursive;*/

body{
    padding: 0rem;
    padding: 0rem;
}

header h1{
    font-family: 'Gravitas One', cursive;
    text-align: center;

}

.container{
    text-align: center;
}

.about{
    text-align: center;
    background-image: url(/dothraki\ landscape.jpg);
    background-size: 100% 100%;
    color: white;
    background-blend-mode: screen;
}
.box{
    background-color: teal;
    overflow: hidden;
    text-align: center;
}
#btn-translate{
    transform: translateX(-2rem);
}
.footer{
    
    text-align: center;
    background: linear-gradient(to right,rgb(10, 10, 10),rgba(10, 10, 10,0.9));
    object-fit: cover;
    color: white;
}
footer ul li a{
    color: white;
    text-decoration: none;
    padding-right: 1rem;
}
footer ul li{
    list-style-type: none;
}
footer .footer-header{
    text-align: center;
    padding: 0rem,1rem;
}